/*
Feuille de style modifiee le 18/11/11
Couleurs utilisees :
bleu clair : 0ac7ff / B6cce2 / 98c1e9
bleu : 078bb3 / 7fa2c6 / 4d91d2
orange : ff950a
bistre : b34c07 / a67833 / a66d1a
*/
body {
	border: 0px none;
	background: #FFFFFF;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family:Arial, Helvetica, sans-serif;
}
p {
	font-family:Arial, Helvetica, sans-serif;
}
.message {
	font-style: italic;
	font-weight: normal;
	color: black;
	text-align: left;
	vertical-align: middle;
	background-position: center center;
}

a {
/*	text-decoration: none;*/
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #00af64;
}

a:link,a:active {
	text-decoration: underline;
	font-style: normal;
	font-weight: normal;
	color: black;
}
a:visited {
	color: dimGrey;
}
a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
	color: #a66d1a;
}
.lienimage a:link,a:active,a:hover,a:visited {
	display: inline;
	background-color: white;
	 white-space: nowrap;
}

.menuprincipalselect {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: normal;
	font-weight: normal;
	background-color: #007241;
	background-position: center center;
	text-align: left;
	vertical-align: middle;
	border: thin outset #88DD33;
}

.classtable {
	background-color: #218359;
	color: #000000;
	border: 2px ridge blue;
	empty-cells: show;
	border-spacing: 2px;
	padding: 2px;
}

.red {
	color: red;
}
.blue {
	color: blue;
}
.green {
	color: green;
}
.etat0 {
	color: red;
	text-align: right;
}
.etat1 {
	color: blue;
	text-align: right;
}
.etat2 {
	color: black;
	text-align: right;
}
.etat3 {
	color: green;
	text-align: right;
}


h1 {
	font-size: large;
	font-weight: bold;
	color: #000000;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #98c1e9;
	background-position: center center;
/*	margin-left: 15%;
	margin-right: 15%;*/
	vertical-align: middle;
	border: #999999 1px solid;
}

h2 {
	font-size: medium;
	font-style: normal;
	font-weight: bold;
	color: black;
	background-position: center center;
	text-align: left;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	font-style: italic;
	font-weight: normal;
	text-align: left;
	text-decoration: none;
	vertical-align: middle;
	background-position: center center;
	color: black;
}

.small {
	font-size: small;
}

/*.enpied  
{
 text-align: center;
 position: absolute;
 bottom: 2px;
 left: 0px;
 width: 100%;
 height: 20px
 }
 */ /* Tables */
table {
	border: solid 1px #4d91d2;
	margin-left: 0px;
	margin-right: auto;
	width: auto;
}

table a:link {
	display: block;
	margin: -2px;
	padding: 2px;
	color: black;
}
table a:visited {
	display: block;
	margin: -2px;
	padding: 2px;
	color: dimGrey;
}
table a:active,table a:hover { 
	color: white;
	display: block;
	background-color: #a66d1a;
}

caption {
	font-size: 80%;
	padding-top: 0.5em;
	margin-left: auto;
	margin-right: auto;
	caption-side: bottom;
	text-align: right;
}

th {
	border: 1px solid #FFFFFF;
	background: #4d91d2;
	color: #000000;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
}

th+th {
	width: auto;
}

tr:hover { 
	background: #98c1e9;
	color: #000000;
}

td {
	border: none;
	text-align: left;
	padding: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Gestion de la saisie avec des DIV */
.affichageBloc {
	position: relative;
	background: #98c1e9;
	margin-left: 0px;
	margin-right: auto;
	width: auto;
	border: 1px solid #999999;
	text-align: center;
}
div.row {
	clear: both;
	padding-top: 5px;
}
div.row span.label {
	float: left;
	width: 30%;
	text-align: right;
}
div.row span.data {
	float: right;
	/*width: 70%;*/
	text-align: left;
}
div.row span.datadisplay {
	float: left;
	/*width: 70%;*/
	text-align: left;
	background: #ffffff;
}
div.row span.affichage {
	float: left;
	/*width: 100%;*/
	text-align: center;
}

/* Gestion des saisies en mode table - inhibition des listes */
.tablesaisie {
	margin-left: 0px;
	margin-right: auto;
	width: auto;
	/*  background: #218359;*/
	background: #98c1e9;
	color: #000000;
	text-align: left;
	border: 1px solid #999999;
}
.libelleSaisie {
	text-align: right;
}
.dataDisplay {
	text-align: left;
	color: grey;
	background: #ffffff;
}
.dataModif {
	text-align: left;
	background: #ffffff;
}
.tableaffichage{
	margin-left: 0px;
	margin-right: auto;
	width: auto;
	/*  background: #218359;*/
	background: #ffffff;
	color: #000000;
	text-align: left;
	border: 1px solid #999999;
}
.tableaffichage tr:hover {
	background:	 #ffffff;
}
.tableaffichage td {
	vertical-align: top;
}
.tableliste{
	margin-left: 0px;
	margin-right: auto;
	width: auto;
	/*  background: #218359;*/
	background: #ffffff;
	color: #000000;
	text-align: left;
	border: 1px solid #999999 ;
}
.tableliste tr{
	text-align: center;
}
.tableliste tr:hover {
	background: #98c1e9;
	color: #000000;		
}
.tableliste td {
	vertical-align: middle;
}
.tablemulticolonne {
	border: 0px;
	background: #ffffff;
}
.tablemulticolonne tr {
	background: #ffffff;
}
.tablemulticolonne td {
	vertical-align: top;
}

.lienNormal {
	display: inline;
}
/* italique gris petit*/
.messagebas {
	color: grey;
	font-size: small;
	font-style: italic;
}

/* Menu block */
div.menu {
	border: #999999 1px solid;
	background: #4d91d2 0 0 fixed;
	/*font-size: 12px;*/
	padding: 0.5em;
	margin-left: 0px;
	margin-right: auto;
}

div.menu h2 {
	display: none;
}

div.menu:after {
	content: "";
	clear: both;
	display: block;
}

div.menu>ul {
	list-style-type: none;
	padding: 0;
	cursor: pointer;
	margin: 0 0 0 1em;
}

div.menu>ul>li {
	margin-top: -2px;
	float: left;
	color: #000000;
<<<<<<< HEAD
	display: inline;
=======
>>>>>>> sourceforge/master
}

div.menu>ul span {
	margin: 0;
	padding: 0 1em 2px 1em;
}

div.menu>ul li:hover span {
	background: #000000;
	color: #007241;
}

div.menu>ul li ul {
	border: 1px solid;
	border-color: #666;
	margin: -1px 0 0 2px;
	padding: 1px;
<<<<<<< HEAD
	/*width: 15em;*/
=======
	width: 10em;
>>>>>>> sourceforge/master
	height: auto;
	background: #FFFFFF;
	color: #000000;
	list-style-type: none;
	position: absolute;
	display: none;
}

div.menu>ul li:hover ul {
	display: block;
}

div.menu>ul li ul li {
	margin: 0;
<<<<<<< HEAD
	display: block;
	background: #ffffff;
	border-left: solid 1em #98c1e9;
	color: #a66d1a;
	padding: 1px;
=======
	padding-left: 1px;
	/*  background: #007241;*/
	background: #ffffff;
	border-left: solid 1em #98c1e9;
	color: #a66d1a;
>>>>>>> sourceforge/master
}

div.menu a:link,div.menu a:visited,div.menu a:active {
	color: #000000;
	display: block;
	margin: 0;
	padding: 2px 1em 2px 1em;
	text-decoration: none;
}

div.menu a:hover {
	color: #FFFFFF;
	background: #a66d1a;
}

/*Bloc d'affichage*/
div.bloc {
	border: #999999 1px solid;
/*	width: 85%;*/
	position: absolute;
	left: 0px;
	padding: 10px;
}

/* Gestion du calendrier */
.calendar {
	background-color: #f7f6f3;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	border: 1px solid #0099cc;
}

.calendar a {
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.ListeDate {
	background-color: #FFFFFF;
}

#Contenant_Calendar {
	float: left;
	width: 100%;
	overflow: hidden;
	position: relative;
}

#Contenant_Calendar span {
	float: left;
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.DayDate:hover {
	background-color: #8CD1EC;
	cursor: pointer;
}

#curentDateString {
	width: 100%;
	text-align: center;
}

.titleMonth {
	width: 100%;
	background-color: #08a1d4;
	color: #FFFFFF;
	text-align: center;
	border-bottom: 1px solid #666;
	margin: 0px;
	padding: 0px;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: bold;
}

.separator {
	float: left;
	display: block;
	width: 25px;
}

.currentDay {
	font-weight: bold;
	background-color: #FFB0B0;
}

/* divers */
.float {
	float: left;
	width: 15%;
	margin: 1em 0;
}

#wrap {
	overflow: hidden;
}

#footer {
	bottom: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*border: #999999 1px solid;*/
	color: #999999;
	margin-top: 60px;
	font-size: small;
}

#global {
	top: 0;
	bottom: 0;
	height: 100%;
}

.bouton {
	text-align: center;
}

#infobulle {
	position: absolute;
	border: 1px solid #FFFFFF;
	padding: 0px;
	font-family: Verdana, Arial;
	font-size: 10px;
	background-color: #000000;
	display: none;
}

#bulleinfo {
	background-color: infoBackground;
	color: infoText;
	position: absolute;
	font-family: verdana, arial;
	/*	font-size : 10px;*/
	font-weight: normal;
	height: auto;
	display: none;
	border: 2px outset black;
	padding: 2px;
}
