@CHARSET "UTF-8";

/*
 * DataTables-1.9.4 framework
 */
div.DataTables-1.9.4_length {

}

div.DataTables-1.9.4_filter {
	float: right;
}

div.DataTables-1.9.4_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.DataTables-1.9.4_paginate {
	float: left;
}

div.DataTables-1.9.4_length,
div.DataTables-1.9.4_filter,
div.DataTables-1.9.4_paginate {
	padding: 6px;
}


.DataTables-1.9.4_filter {
	/*float: right;
	text-align: right;*/
}

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}
.paginate_disabled_previous {
	background: url('../javascript/DataTables-1.9.4/media/images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
	background: url('../javascript/DataTables-1.9.4/media/images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('../javascript/DataTables-1.9.4/media/images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
	background: url('../javascript/DataTables-1.9.4/media/images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
	background: url('../javascript/DataTables-1.9.4/media/images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('../javascript/DataTables-1.9.4/media/images/forward_enabled_hover.png') no-repeat top right;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
div.DataTables-1.9.4_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .DataTables-1.9.4_wrapper {
	display: block;
}
 
* html .DataTables-1.9.4_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table.pretty {
	clear: both;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * DataTables-1.9.4 sorting
 */

.sorting_asc {
	background: #4d91d2 url('../javascript/DataTables-1.9.4/media/images/sort_asc.png') no-repeat center right ;
}

.sorting_desc {
	background: #4d91d2 url('../javascript/DataTables-1.9.4/media/images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: #4d91d2 url('../javascript/DataTables-1.9.4/media/images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: #4d91d2 url('../javascript/DataTables-1.9.4/media/images/sort_asc_disabled.png') no-repeat center right;
}

.sorting_desc_disabled {
	background: #4d91d2 url('../javascript/DataTables-1.9.4/media/images/sort_desc_disabled.png') no-repeat center right;
}
 
table.display thead th:active,
table.display thead td:active {
	outline: none;
}
